body {
  font-family: Garamond, serif;;
  background-color: #080c0c;
  color: #d9ffdb;
  max-width: 900px;
  margin: auto;
  padding: 2 5%;
}
a {
  font-size: 1.4rem;
  color: #357670;
  text-decoration: underline;
}
.navigation-homepage ul,
a {
  font-family: serif;
  font-size: 1.4rem;
  list-style-type: none;
  border: 0px;   
  margin: 0px;   
  padding: 0px;     
  display: inline-flex;
  justify-content: space-between;  
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}
div.scrollmenu {
  background-color: #080c0c;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #357670;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #080c0c;
}
img {
	max-width: 100%;
	border: 1px solid #ddd;
}
img[width][height] {
	height: auto;
}
div.icon {
  display: inline-flex;
}

.link-context {
  padding-bottom: 1rem;
}
blockquote:before {
  display: none;
}

blockquote {
  font-size: 1.4rem;
  padding: 0 10px;
  border-left: 3px solid #357670;
  font-style: italic;
  font-family: Garamond, serif;
}

blockquote p {
  text-align: justify;
}